body{
    font-family: 'Didact Gothic', sans-serif;
    overflow-x: hidden;
}

/* .con3{
    margin: 0%;
} */

/* .jimb{
    margin: 0%;
} */

.confoot{
    background-color:  rgb(28, 11, 66);
    /* height: 300px; */
    margin-top: 50px;
    
    /* padding: 0; */
}



.confootlog{
    background-color: rgb(28, 11, 66);
    /* height: 300px; */
    margin-top: 150px;
    
}

.links{
    padding-top: 40px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.row1{
    padding-top: 50px;
    padding-left: 30px;
}
.rowcopy{
    margin-top: 40px;
    /* background-color: blue; */
}

.con2{
    margin-top: 60px;
}

.but{
    height: 60px;
    width: 100px;
    font-size: 20px;
}

.but1{
    text-align: center;
}

.nav{
    display: flexbox;
    background-color: rgba(94, 25, 158,0.8);
    padding-left: 100px;
    padding-right: 50px;
    font-size: 20px;
    
}

.nav-item{
    margin-right: 20px;
}



/* .colbrand{
    background-color: brown;

} */

#brand{
    margin-top: 40px;
}
#contact{
    margin-top: 40px;
}

/* .col1{
    background-color: blue;
    margin-top: 0%;
} */

/* .collinks{
    background-color: brown;
} */

a:hover{
    text-decoration: none;
}

.ul{
    margin-left: 150px;
    color: rgb(255, 255, 255);
    /* text-decoration: none; */
   
}

#phone{
    margin-top: 20px;
}

.ic{
    padding-left: 10px;
}

.colbrand>p{
    font-size: 20px;
}
#adidas{
    margin-top: 20px;
}

.img{
    width: 250px;
    height: 200px;
}
.img2{
    margin-left: 100px;
    width: 300px;
    height: 300px;
}

.foot{
    color: rgb(255, 255, 255);
}

.btnpay{
    margin-top: 20px;
}

.cards{
    height: 600px;
}

.para{
    margin-top: 10px;
}

.shoe-icon{
    width: 50px;
    height: 50px;
}
.conabout{
    margin-top: 40px;
}
.shoes{
    height: 400px;
    width: 500px;
    
}

.colabout{
    /* background-color: aqua; */
    width: 700px;
    height: 500px;
}
.colabout h1{
    text-align: center;
    font-size: 50px;
}
.colabout p{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.colimg{
    /* background-color: rgb(25, 0, 255); */
}

.rowabout{
    margin-top: 70px;
    text-align: center;
    /* background-color: blueviolet; */
   
}

.rowfacts{
    margin-top: 200px;
}

.row8 h1{
    margin-top: 80px;
    margin-left: 30px;
    font-size: 50px;
}

.colteam {
    font-size: 40px;
    /* background-color: brown; */
    
}

.imgteam{
    width: 200px;
    height: 300px;

}

.rowteam{
    margin-left: 140px;
}
.rowform{
    /* background-color: brown; */
}
.colcontact{
    margin-left: 60px;
}
.form-group{
    width: 400px;
}

#comment{
    height: 150px;
}

.submit{
    width: 400px;
    
}
#contactus{
    margin-left: 60px;
    font-size: 60px;
    margin-top: 100px;
    text-align: center;
}

.col1{
    /* margin-left: 10px; */
}

.form-control{
    width: 300px;
}
